*
{
	margin: 0;	padding: 0;	box-sizing: border-box;
}

body
{
	background-image: url(../img/bg.png);
	/* background-color: black; */
}

main
{
	margin: 0 auto;
	background-image: url(../img/main.png);
	width: 80%;
	height: 100%;
}

.hide
{
	display: none;
}
